<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'admin_dashboard' %}" 
               class="{% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
                <i class="fas fa-users"></i> HELLO MARIELLA
            </a>
        </li>

        <li>
            <a href="{% url 'department_management' %}" 
               class="{% if request.resolver_match.url_name == 'department_management' %}active{% endif %}">
                <i class="fas fa-building"></i> Department Management
            </a>
        </li>

        <li>
            <a href="#" class="{% if request.resolver_match.url_name == 'audit_trails' %}active{% endif %}">
                <i class="fas fa-history"></i> Audit Trails
            </a>
        </li>
        <li>
            <a href="{% url 'employee_list' %}" class="menu-item">
        <i class="fas fa-users-viewfinder"></i> <span>Employee Records</span>
    </a>
</li>
    </ul>
</div>